<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="public/base" /}
    <style>
        .btn-link {
            font-size: 14px;
            color: #F5F5F5;
            text-decoration: none;
        }
    </style>
</head>
<body>
{include file="public/header" /}
<div class="main">
    <div style="margin-bottom: 20px">
        <a class="shadow button btn-link" href="/tool/format/json.html">格式化JSON</a>
        <a class="shadow button btn-link" href="/tool/format/timestamp.html">时间戳转换</a>
        <a class="shadow button btn-link" href="">IP查询</a>
    </div>
    <div style="margin: auto;text-align: center">
        <p>当前IP：{:request()->ip()}</p>
        <div style="width: 300px;display: inline-block">
            IP：<input id="ipInput" class="search-input" placeholder="请输入ip地址" value="{:request()->ip()}">
            <button id="queryIp" class="shadow button">查询</button>
        </div>

        <p id="result"></p>
    </div>
</div>
{include file="public/base_js" /}
<script>
    $('#queryIp').on('click', function () {
        let ip = $('#ipInput').val();
        if (ip == null || ip.length <= 0) {
            $('#result').text('IP地址为空~').css('color', 'red');
            return;
        }
        ip = ip.trim();
        $.post("/query/ip", {"ip": ip}, function (data) {
            if (data.code === 200) {
                $('#result').text(data.address).css('color','#4CAF50');
            } else if (data.code === -1) {
                $('#result').text(data.msg).css('color', 'red');
            }
        });
    });
</script>
</body>
</html>