<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="public/base" /}
    <style>
        .content p {
            margin: 10px 0;
            font-size: 12px;
        }
    </style>
</head>
<body>
{include file="public/header" /}
<div class="main">
    {empty name="posts"}
    post为空
    {else /}
    <div class="content">
        <ul>
            {foreach $posts as $p}
            <li class="shadow index-post-item">
                <a href="/p/{$p->postId}.html" class="index-post-title-a ellipsis" title="{$p->title}">{$p->title}</a>
                <p class="index-post-desc">{$p->description}</p>
                <p>
                    <span style="color: #8a8a8a">{:timeFormat($p->postTime)}，阅读：{$p->pv}{if condition="isMobile() neq 1"}，评论：<a href="/p/{$p->postId}.html#post-comment" class="anchor-link-a">{$p->commentCount}</a>，点赞：<a href="/p/{$p->postId}.html#post-like" class="anchor-link-a">{$p->likeCount}</a>{/if}{notempty name="$p->topics"}，标签：{foreach $p->topics as $t}<a href="/topic/{$t}.html" class="anchor-link-a" title="标签：{$t}">{$t}</a>&nbsp;{/foreach}{/notempty}</span>
                </p>
            </li>
            {/foreach}
        </ul>
        <div style="text-align: center;margin-top: 20px">
            <ul class="pagination">
                <li>
                    {if condition="$currentPage == 1"}
                    <a class="disabled" href="javascript:void(0);">上一页</a>
                    {else /}
                    <a href="/">首页</a>
                    <a href="?page={$currentPage-1}">上一页</a>
                    {/if}
                </li>
                {for start="1" end="$totalPage + 1"}
                <li>
                    <!--{if condition="$i > $currentPage - 5 && $i < $currentPage + 5"}
                    {else /}
                    {/if}-->
                    {if condition="$i > $currentPage - 4 && $i < $currentPage + 4"}
                    {if condition="$i == $currentPage"}
                    <a class="active disabled" href="javascript:void(0);">{$i}</a>
                    {else /}
                    <a href="?page={$i}">{$i}</a>
                    {/if}
                    {/if}
                </li>
                {/for}
                <li>
                    {if condition="$currentPage < $totalPage"}
                    <a href="?page={$currentPage+1}">下一页</a>
                    <a href="?page={$totalPage}">尾页</a>
                    {else /}
                    <a class="disabled" href="javascript:void(0);">下一页</a>
                    {/if}
                </li>

            </ul>
        </div>
        <div style="margin-top: 20px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-4671741323231057"
                 data-ad-slot="3384783185"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    {include file="public/sidebar" /}
    {/empty}
</div>
{include file="public/footer" /}
{include file="public/base_js" /}
</body>
</html>