<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
<![endif]-->
<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() > 100)
            $(".go-top").fadeIn(1000);
        else
            $(".go-top").fadeOut(1000);
    });
    $(".go-top").click(function (e) {
        e.preventDefault();
        $('body,html').animate({scrollTop: 0}, 1000);
    });

    $('.search-button').click(function () {
        let keyword = $('.search-input').val().trim();
        if (keyword.length > 0) {
            window.location.href = "/search/"+keyword+".html"
        }
    });

    $('.search-input').bind('keydown',function(event){
        if(event.keyCode === 13) {
            let keyword = $('.search-input').val().trim();
            if (keyword.length > 0) {
                window.location.href = "/search/"+keyword+".html"
            }
        }
    });
    $('#qrcode').qrcode({correctLevel:0,render: "canvas",text:window.location.href});
</script>

<script src="https://cdn.jsdelivr.net/npm/highlight.js@9.16.2/lib/highlight.min.js"></script>
<!--<script src="https://cdn.staticfile.org/highlight.js/9.15.10/highlight.min.js"></script>-->
<!--<script src="https://cdn.staticfile.org/highlight.js/9.15.10/languages/go.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-jsonview@1.2.3/dist/jquery.jsonview.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
<!--
{if condition="isMobile() neq 1"}
<script src="https://s.zhangbj.com/lib/res/canvas.js"></script>
{/if}-->
