<div class="header">
    <ul>
        <li>
            <a href="/" title="首页">首页</a>
        </li>
        {if condition="request()->pathinfo() eq 'message-board.html'"}
        <li class="header-a-checked">
            <a href="/message-board.html" style="color: white" title="留言板">留言板</a>
        </li>
        {else /}
        <li>
            <a href="/message-board.html" title="留言板">留言板</a>
        </li>
        {/if}

        {if condition="request()->pathinfo() eq 'tool/json/format.html'"}
        <li class="header-a-checked">
            <a href="/tool/format/json.html" style="color: white" title="小工具">小工具</a>
        </li>
        {else /}
        <li>
            <a href="/tool/format/json.html" title="小工具">小工具</a>
        </li>
        {/if}
            <!--<a href="https://github.com/fendoudebb" target="_blank" title="Github">Github</a>-->
    </ul>
<!--    <iframe style="position:absolute;left:10px; top:15px;" src="https://ghbtns.com/github-btn.html?user=fendoudebb&repo=z-blog&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>-->
    <!--<a class="ellipsis"  title="网址导航">网址导航</a>-->
</div>
<hr>
{if condition="isMobile() eq 1"}
<form action="#" onsubmit="return false">
    <input class="search-input" placeholder="请输入关键字..." type="search" results="10">
    <button type="button" class="search-button">搜索</button>
</form>
<hr>
{/if}