<div class="side-bar">
    {notempty name="pvRank"}
    <div class="shadow side-bar-widget">
        <h3>阅读排行榜</h3>
        <ul>
            {foreach $pvRank as $pvPost}
            <li>
                <a href="/p/{$pvPost['title']}.html" title="{$pvPost['title']}">
                    <span>{$pvPost['title']}</span>
                    <span>阅读数：{$pvPost['pv']}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
    {notempty name="commentRank"}
    <div class="shadow side-bar-widget">
        <h3>评论排行榜</h3>
        <ul>
            {foreach $commentRank as $commentPost}
            <li>
                <a href="/p/{$commentPost['title']}.html" title="{$commentPost['title']}">
                    <span>{$commentPost['title']}</span>
                    <span>评论数：{$commentPost['commentCount']}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
    {notempty name="likeRank"}
    <div class="shadow side-bar-widget">
        <h3>点赞排行榜</h3>
        <ul>
            {foreach $likeRank as $likePost}
            <li>
                <a href="/p/{$likePost['title']}.html" title="{$likePost['title']}">
                    <span>{$likePost['title']}</span>
                    <span>点赞数：{$likePost['likeCount']}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
</div>