<div class="sidebar">
    {notempty name="webInfo"}
    <div class="shadow sidebar-widget">
        <h3>站长统计</h3>
        <ul>
            <li>
                <span>文章数：{$webInfo.postCount}</span>
            </li>
            <li>
                <span>访客数：{$webInfo.ipCount}</span>
            </li>
            <li>
                <span>浏览量：{$webInfo.pvCount}</span>
            </li>
        </ul>
    </div>
    {/notempty}
    {notempty name="topic"}
    <div class="shadow sidebar-widget">
        <h3>标签</h3>
        <div class="sidebar-topic">
            {foreach $topic as $t}
            <a href="/topic/{$t->name}.html" title="{$t->name}"><span>{$t->name}</span></a>
            {/foreach}
        </div>
    </div>
    {/notempty}
    {notempty name="pvRank"}
    <div class="shadow sidebar-widget">
        <h3>阅读排行榜</h3>
        <ul>
            {foreach $pvRank as $pvPost}
            <li>
                <a href="/p/{$pvPost->postId}.html" title="{$pvPost->title}">
                    <span>{$pvPost->title}</span>
                    <span>阅读数：{$pvPost->pv}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
    {notempty name="likeRank"}
    <div class="shadow sidebar-widget">
        <h3>点赞排行榜</h3>
        <ul>
            {foreach $likeRank as $likePost}
            <li>
                <a href="/p/{$likePost->postId}.html" title="{$likePost->title}">
                    <span>{$likePost->title}</span>
                    <span>点赞数：{$likePost->likeCount}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
    {notempty name="commentRank"}
    <div class="shadow sidebar-widget">
        <h3>评论排行榜</h3>
        <ul>
            {foreach $commentRank as $commentPost}
            <li>
                <a href="/p/{$commentPost->postId}.html" title="{$commentPost->title}">
                    <span>{$commentPost->title}</span>
                    <span>评论数：{$commentPost->commentCount}</span>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/notempty}
    <div class="shadow sidebar-widget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-6t+ed+2i-1n-4w"
             data-ad-client="ca-pub-4671741323231057"
             data-ad-slot="3115575476"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>